<div class="container prodcut-details">
   <div class="row">
   <h2>Check out our bikes for sale</h2>
      <div class="col-md-12">
         <h3>The BMX 5000</h3>
         <img src="https://static.evanscycles.com/production/bikes/bmx-bikes/product-image/484-319/mongoose-legion-l40-2015-bmx-bike-teal-EV225613-5060-1.jpg" alt="bmx bike">
         <p>bike description bike description bike description bike description bike description bike description bike description bike description.</p>
         <p>$899</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h3>The BMX 3000</h3>
         <img src="https://static.evanscycles.com/production/bikes/bmx-bikes/product-image/484-319/mongoose-legion-l40-2015-bmx-bike-teal-EV225613-5060-1.jpg" alt="bmx bike">
         <p>bike description bike description bike description bike description bike description bike description bike description bike description.</p>
         <p>$899</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h3>The BMB 8000</h3>
         <img src="https://static.evanscycles.com/production/bikes/bmx-bikes/product-image/484-319/mongoose-legion-l40-2015-bmx-bike-teal-EV225613-5060-1.jpg" alt="bmx bike">
         <p>bike description bike description bike description bike description bike description bike description bike description bike description.</p>
         <p>$899</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h3>The Cruiser</h3>
         <img src="https://static.evanscycles.com/production/bikes/bmx-bikes/product-image/484-319/mongoose-legion-l40-2015-bmx-bike-teal-EV225613-5060-1.jpg" alt="bmx bike">
         <p>bike description bike description bike description bike description bike description bike description bike description bike description.</p>
         <p>$899</p>
      </div>
   </div>
</div>
